*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.hero{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));*/
    position: relative;
    /*padding: 0 5%;*/
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff ;
    font-size: 17px;

}
.content{
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top:20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    animation: zoom-in-zoom-out 1s ease infinite;
}


@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /*width: 100vw;*/
    height: 100%;
    /*height: 100vh;*/
    overflow: inherit;
}
.video-container video {
    /* Make video to at least 100% wide and tall */
    /*min-width: 100%;*/
    /*min-height: 100%;*/

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    /*width: auto;*/
    /*height: auto;*/

    width: 100vw;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mnogo-div{
    position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);
    font-weight: bold;
}

.mnogo-div a{
    font-size: 30px;
}

.mnogo-div a:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

