* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

input {
    box-sizing: inherit;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: black;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

input[type=submit] {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #1e5aff;
}