* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    background-color: #c8c8c8;
}

#page-container {
    position: relative;
    min-height: 100%; /* or min-height: 100vh */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 100px;
}

#content-wrap {
    padding: 50px 200px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

#header {
    border-bottom: 2px solid #408ABF;
    position: absolute;
    margin: 20px;
    top: 0;
    width: calc(100% - 240px);
    height: 50px; /* Header height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 200px);
    height: 50px; /* Footer height */
}

.header, .footer {
    display: table;
    left: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: stretch; /* Default */
    justify-content: space-between;
}

.home-logo {
    text-align: center;
    margin-bottom: 30px
}

.home-logo img {
    width: 150px;
}

.header-menu {
    display: flex;
    text-align: center;
    height: 50px;
}

.header-option {
    display: inline;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.text-menu {
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.text-menu:hover, .text-menu:visited, .text-menu:active, .text-menu:link {
    text-decoration: none;
}

.main-window {
    position: relative;
    min-width: max-content;
    /*min-width: 400px;*/
    /*width: calc(100% - 160px);*/
    margin: 40px 20px 20px;
    background-color: #c8c8c8;
}

.left-column {
    float: none;
    flex-direction: column;
    background-color: #408ABF;
    width: 200px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.right-column {
    margin-top: 81px;
    margin-bottom: 20px;
    float: none;
    flex-direction: column;
    /*border-radius: 20px;*/
    border: 1px solid black;
    box-shadow: 0 0 1px black;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: fit-content;
    /*width: 300px;*/
    /*height: calc(100% - 200px);*/
    height: max-content;
    /*position: fixed;*/
    position: relative;
    /*right: 20px;*/
    /*top: 130px;*/
    /*top: 81px;*/
    /*margin-left: 20px;*/
    z-index: 0;
    box-sizing: border-box;
}

.search {
    padding-left: 10px;
    margin: 10px;
    height: 28px;
    width: 188px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, .25);
    box-sizing: inherit;
}

.search:focus {
    outline: 0;
    border-color: cadetblue;
}

/* login css */
.login-error {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    background-color: lightpink;
    color: darkred;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-sizing: inherit;
}

.login-input {
    box-sizing: inherit;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /*border-radius: 0.25rem;*/
}

.login-input:focus {
    border-color: cadetblue;
    outline: 0;
}

.login-button {
    padding: 10px;
    width: 100%;
    background-color: rgba(30, 144, 255, 0.8);
    color: white;
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    border-radius: 0.25rem;
    border: none;
    box-sizing: inherit;
}

.login-button:active, .login-button:hover {
    background-color: dodgerblue;
    color: rgba(255, 255, 255, 0.9);
}

.profile-actions {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 25px;
    right: 0;
}

.header .label {
    display: table-cell;
    vertical-align: middle;
}

.header .label i {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    padding-left: 15px;
}

.header .label label {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold
}

.profile-actions {
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    text-align: center;
}

.profile-actions .profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-actions .profile i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-actions .profile:hover i {
    color: #408ABF;
}

.profile-actions .menu {
    position: absolute;
    top: 70px;
    right: 0;
    padding: 10px 20px;
    background-color: white;
    min-width: 170px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 5px black;
}

.profile-actions .menu.active {
    top: 40px;
    visibility: visible;
    opacity: 1;
}

.profile-actions .menu::before {
    content: '';
    position: absolute;
    top: -9px;
    right: 18px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    transform: rotate(45deg);
    /*box-shadow: 0 0 5px black;*/
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.profile-actions .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    line-height: 1.2em;
}

.profile-actions .menu h2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2em;
    padding-bottom: 10px;
}

.profile-actions .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile-actions .menu ul li i {
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.profile-actions .menu ul li:hover i {
    opacity: 1;
}

.profile-actions .menu ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: 0.5s;
}

.profile-actions .menu ul li:hover a {
    color: #408ABF;
    font-weight: 600;
}

.left-column .menu {
    text-align: center;
}

.left-column .menu ul li {
    list-style: none;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.left-column .menu ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.left-column .menu ul li:hover a {
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

.left-column .menu ul li:hover i {
    font-weight: 600;
    color: black;
    transition: 0.5s;
}

.left-column .menu ul li i {
    max-width: 20px;
    margin-right: 30px;
    /*opacity: 0.5;*/
    color: white;
}

.main-window .buttonContainer {
    background-color: #c8c8c8;
    height: 41px;
}

.main-window .buttonContainer button {
    height: 40px;
    width: max-content;
    margin-right: 10px;
    padding: 0 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    border: 1px solid black;
    border-bottom: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.main-window .buttonContainer button i {
    margin-right: 10px;
}

.main-window .buttonContainer button:hover label {
    color: #408ABF;
}

.main-window .buttonContainer button.active:hover label {
    color: black;
}

.tab {
    display: none;
    /*border-radius: 0 20px 20px 20px;*/
    border: 1px solid black;
    border-top: none;
    box-shadow: 0 0 2px black;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    /*min-width: 700px;*/
    min-width: max-content;
}

.content-table {
    border-collapse: collapse;
    background-color: white;
    font-size: 16px;
    width: 100%;
    /*width: max-content;*/
}

.content-table .view {
    margin-right: 10px;
    color: #408ABF;
    transition: 0.5s;
}

.content-table .del {
    color: lightcoral;
    transition: 0.5s;
}

.content-table a:hover i {
    color: black;
    transition: 0.5s;
}

.content-table thead tr {
    /*background-color: lightgray;*/
    /*border-radius: 0 20px;*/
    background-color: #408ABF;
}

.content-table thead tr th {
    padding: 15px 10px;
    font-size: 18px;
}

.content-table tr {
    border: 1px solid gray;
}

.content-table td {
    padding: 15px 20px;
    text-align: center;
}

.content-table select, .content-table input[type=text], input[type=password] {
    /*width: 200px;*/
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 1px black;
    width: max-content;
    margin-left: 10px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.content-table select:focus, input[type=text]:focus, input[type=password]:focus {
    border-color: #408ABF;
    outline: 0;
}

.content-table input[type=date] {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 1px black;
    margin-left: 10px;
    width: 200px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.content-table input[type=date]:focus {
    border-color: #408ABF;
    outline: 0;
}

.content-table input[type=submit], .content-table input[type=button] {
    margin: 0 10px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: #408ABF;
}

.content-table input[type=submit]:hover, .content-table input[type=button]:hover {
    color: black;
    transition: 0.5s;
}

.no-results {
    position: relative;
    padding: 10px 0;
    justify-content: center;
    text-align: center;
    border-top: 1px solid gray;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.25;
    color: black;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%);
}

.error-field {
    position: relative;
    margin: 10px 10px;
    justify-content: center;
    width: max-content;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    background-color: lightpink;
    color: darkred;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%);
}

.error-field ul {
    list-style-position: inside;
    margin: 5px 10px;
}

.main-window .container {
    padding: 15px;
    justify-content: center;
}

.right-column .container {
    padding: 15px;
    justify-content: center;
}

.right-column p {
    text-align: center;
    margin-bottom: 10px;
}

.right-column .section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.right-column select {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.right-column input[type=text] {
    width: calc(100% - 20px);
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.right-column input[type=text]:focus {
    border-color: #408ABF;
    outline: 0;
}

.right-column select:focus {
    border-color: #408ABF;
    outline: 0;
}

.right-column input[type=date] {
    width: calc(100% - 22px);
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}

.right-column input[type=date]:focus {
    border-color: #408ABF;
    outline: 0;
}

.right-column input[type=submit], .right-column input[type=button] {
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #408ABF;
    color: white;
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    border-radius: 0.25rem;
    border: none;
    box-sizing: inherit;
}

.right-column input[type=submit]:active, .right-column input[type=submit]:hover, .right-column input[type=button]:hover {
    color: black;
    transition: 0.5s;
}

.l-c {
    background-color: lightgray;
    font-weight: bold;
    color: black;
    border: none;
    border-left: 1px solid gray;
    justify-content: right;
}

.r-c {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.solo-button {
    /*margin: 0 10px;*/
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: #408ABF;
    width: 100%;
}

.solo-button:hover {
    background-color: #4080bf;
    color: black;
    transition: 0.5s;
}

.delete-button {
    /*margin: 0 10px;*/
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: lightcoral;
    width: 100%;
}

.delete-button:hover {
    background-color: indianred;
    color: black;
    transition: 0.5s;
}

.modal-button {
    text-decoration: none;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.1;
    z-index: 2;
    visibility: hidden;
}

.modal {
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s, transform 0.5s;
    box-shadow: 0 0 1px black;
}

.modal label {
    margin-bottom: 30px;
}

.bg-active {
    opacity: 1;
    visibility: visible;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}

.modal a {
    background-color: lightcoral;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    width: max-content;
    text-decoration: none;
}

.modal a:hover {
    text-decoration: none;
    background-color: indianred;
    color: black;
    transition: 0.5s;
}