<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:text="'Visit #' + ${booking.id}"></label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Services</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-calendar-check"></i>
                    <label>Visit Details</label>
                </button>
                <button onclick="showPanel(2,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-pen"></i>
                    <label>Edit visit</label>
                </button>
            </div>
            <div class="tab" id="services">
                <div class="container">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <div th:each="service, iter : ${booking.services}">
                            <tr th:unless="${iter.last}">
                                <td th:text="${service.serviceType.name}">Service</td>
                                <td>
                                    <label th:if="${service.price!=0}" th:text="${service.price} + ' BGN'"
                                           style="color: green; font-weight: bold"></label>
                                    <label th:if="${service.price==0}" style="font-weight: bold; color: lightcoral">To
                                        be set</label>
                                </td>
                                <td>
                                    <a href="#" th:if="${requester.isEmployee()}"
                                       th:href="@{/service/{id}(id=${service.id})}"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-pen view"></i>
                                    </a>
                                    <a th:href="@{/bookings/remove/{id}(id=${service.id})}"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-trash-can del"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${iter.last}" style="border-bottom: none">
                                <td th:text="${service.serviceType.name}">Service</td>
                                <td>
                                    <label th:if="${service.price!=0}" th:text="${service.price} + ' BGN'"
                                           style="color: green; font-weight: bold"></label>
                                    <label th:if="${service.price==0}" style="font-weight: bold; color: lightcoral">To
                                        be set</label>
                                </td>
                                <td>
                                    <a href="#" th:if="${requester.isEmployee()}"
                                       th:href="@{/service/{id}(id=${service.id})}"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-pen view"></i>
                                    </a>
                                    <a th:href="@{/bookings/remove/{id}(id=${service.id})}"
                                       style="text-decoration: none">
                                        <i class="fa-solid fa-trash-can del"></i>
                                    </a>
                                </td>
                            </tr>
                        </div>
                        <tr style="border-top: 1px dashed gray">
                            <td style="text-align: right">Total Cost:</td>
                            <td th:text="${booking.getTotalCost()} + ' BGN'" style="font-weight: bold; color: green">
                                420.0 BGN
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab" id="visit-details">
                <div class="container">
                    <table class="content-table" style="border: 1px solid gray">
                        <tr th:if="${requester.isEmployee()}" style="border: none">
                            <td class="l-c">Customer:</td>
                            <td class="r-c" th:text="${booking.vehicle.owner.username}">username</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Vehicle:</td>
                            <td class="r-c"
                                th:text="${booking.vehicle.model.brand.name}+' '+${booking.vehicle.model.name}"></td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Drop off date:</td>
                            <td class="r-c" th:text="${#temporals.format(booking.dropOffDate,'d MMMM yyyy')}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab" id="edit-visit">
                <div class="container">
                    <form th:action="@{/bookings/{id}/edit(id=${booking.id})}" th:object="${bookingDTO}" method="post">
                        <table class="content-table" style="border: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Vehicle:</td>
                                <td class="r-c">
                                    <select th:field="*{vehicleId}" style="width: 220px">
                                        <option th:each="vehicle:${booking.vehicle.owner.vehicles}"
                                                th:value="${vehicle.id}"
                                                th:text="${vehicle.model.brand.name}+' '+${vehicle.model.name}"
                                                th:selected="${vehicle.id==booking.vehicle.id}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Drop off date:</td>
                                <td class="r-c">
                                    <input type="date" th:field="*{dateTime}" style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div class="error-field" th:if="${#fields.hasAnyErrors()}">
                            <ul style="list-style: none">
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--            right column-->
        <div class="right-column">
            <div class="container">
                <p>
                    <label class="section-title">Actions</label>
                </p>
                <p>
                    <a th:href="@{/bookings/{id}/add(id=${booking.id})}">
                        <input th:if="${booking.services.isEmpty()}" type="button" value="Add services">
                        <input th:unless="${booking.services.isEmpty()}" type="button" value="Add more services">
                    </a>
                </p>
                <p>
                <form th:action="@{/bookings/{id}/export/pdf(id=${booking.id})}" th:object="${exportDTO}"
                      method="get">
                    <p><label class="section-title">Select currency</label></p>
                    <select name="currency" id="currency">
                        <option th:each="currency:${currencies}"
                                th:value="${currency}"
                                th:text="${currency.toString()}"
                                th:selected="${currency.toString().equals('BGN')}">
                        </option>
                    </select>
                    <input type="submit" value="Export PDF report">
                </form>
                </p>
                <p>
                <div class="modal-bg">
                    <div class="modal">
                        <label th:text="'Are you sure you want to delete visit #' + ${booking.id}+'?'"></label>
                        <div style="text-align: center">
                            <a th:href="@{/bookings/{id}/delete(id=${booking.id})}">Delete</a>
                            <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                        </div>
                    </div>
                </div>
                <a class="modal-button">
                    <input type="button" value="Delete visit" style="background-color: darkred">
                </a>
                </p>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
        // tabPanels[tabIndex].style.backgroundColor = color;
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(2, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>