<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:if="${requester.isEmployee()}">Visits</label>
            <label th:unless="${requester.isEmployee()}">My visits</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Visits</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-plus"></i>
                    <label>Book a visit</label>
                </button>
            </div>
            <div class="tab" id="visits">
                <div class="container">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th th:if="${requester.isEmployee()}">Customer</th>
                            <th>Vehicle</th>
                            <th>Drop off date</th>
                            <th>Total Cost</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tr th:each="booking:${bookings}" style="border-top: 1px solid gray">
                            <td th:text="${booking.id}">1</td>
                            <td th:if="${requester.isEmployee()}" th:text="${booking.vehicle.owner.username}">
                                Username
                            </td>
                            <td th:text="${booking.vehicle.model.brand.name}+' '+${booking.vehicle.model.name}">
                                Brand
                                Model
                            </td>
                            <td th:text="${#temporals.format(booking.dropOffDate,'d MMMM yyyy')}">20 April 2022</td>
                            <td th:unless="${booking.getTotalCost()==0}" style="font-weight: bold; color: green"
                                th:text="${booking.getTotalCost()}+' BGN'">420.0 BGN</td>
                            <td th:if="${booking.getTotalCost()==0}" style="font-weight: bold; color: lightcoral" th:text="${booking.getTotalCost()}+' BGN'">420.0 BGN</td>
                            <td>
                                <a th:href="@{/bookings/{id}(id=${booking.id})}" style="text-decoration: none">
                                    <i class="fa-solid fa-pen view"></i>
                                </a>
                                <div class="modal-bg">
                                    <div class="modal">
                                        <label th:text="'Are you sure you want to delete visit #' + ${booking.id}+'?'"></label>
                                        <div style="text-align: center">
                                            <a th:href="@{/bookings/{id}/delete(id=${booking.id})}">Delete</a>
                                            <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="modal-button" style="text-decoration: none">
                                    <i class="fa-solid fa-trash-can del"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div th:if="${bookings.isEmpty()}" class="no-results">
                        <label>No results</label>
                    </div>
                </div>
            </div>
            <div class="tab" id="book-a-visit">
                <div class="container">
                    <form action="/bookings/create" th:object="${bookingDTO}" method="post">
                        <table class="content-table" style="border-top: 1px solid gray; border-bottom: 1px solid gray">
                            <tr style="border: none" th:if="${requester.isEmployee()}">
                                <td class="l-c">Customer:</td>
                                <td class="r-c">
                                    <select th:field="*{userId}" name="selectUser"
                                            id="selectUser"
                                            onchange="populate(this.id, 'selectVehicle',false)" required
                                            style="width: 220px">
                                        <option selected value="0"> Select User</option>
                                        <option th:each="user:${users}" th:value="${user.id}"
                                                th:text="${user.username}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Vehicle:</td>
                                <td class="r-c">
                                    <select th:if="${requester.isEmployee()}" th:field="*{vehicleId}"
                                            name="selectVehicle"
                                            id="selectVehicle" required style="width: 220px">
                                        <option selected value="0">Select Vehicle</option>
                                    </select>
                                    <select th:if="${!requester.isEmployee()}" th:field="*{vehicleId}" required
                                            style="width: 220px">
                                        <option selected value="0">Select Vehicle</option>
                                        <option th:each="vehicle : ${requester.vehicles}"
                                                th:value="${vehicle.id}"
                                                th:text="${vehicle.brand.name}+' '+${vehicle.model.name}">
                                            Vehicle brand and model
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Drop off date:</td>
                                <td class="r-c">
                                    <input type="date" th:field="${bookingDTO.dateTime}" placeholder="Enter date"
                                           required style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Book now">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--        right column-->
        <div class="right-column">
            <div class="container">
                <form th:action="@{/bookings/filter}" th:object="${filterDTO}" method="post">
                    <p>
                        <label class="section-title">Filter Visits</label>
                    </p>
                    <p th:if="${requester.isEmployee()}">
                        <select th:field="*{userId}" name="filterSelectUser" id="filterSelectUser"
                                onchange="populate(this.id, 'filterSelectVehicle', true)"
                                required>
                            <option selected value="0"> Select User</option>
                            <option th:each="user:${users}" th:value="${user.id}"
                                    th:text="${user.username}">
                            </option>
                        </select>
                    </p>
                    <p>
                        <select th:if="${requester.isEmployee()}" th:field="*{modelId}"
                                name="filterSelectVehicle"
                                id="filterSelectVehicle" required>
                            <option selected value="0"> Select Vehicle</option>
                        </select>
                        <select th:if="${!requester.isEmployee()}" th:field="*{modelId}" required>
                            <option selected value="0">Select Vehicle</option>
                            <option th:each="vehicle : ${requester.vehicles}"
                                    th:value="${vehicle.model.id}"
                                    th:text="${vehicle.brand.name}+' '+${vehicle.model.name}">
                                Vehicle brand and model
                            </option>
                        </select>
                        <label th:errors="*{modelId}">Date error placeholder</label>
                    </p>
                    <p>
                        <input type="date" th:field="*{date}">
                        <label th:errors="*{date}">Date error placeholder</label>
                    </p>
                    <p>
                        <select th:field="*{sort}">
                            <option selected value="null">Sort by</option>
                            <option th:each="option : ${sortOptions}"
                                    th:value="${option.preview}"
                                    th:text="${option.preview}">
                            </option>
                        </select>
                    </p>
                    <p>
                        <input type="submit" value="Filter">
                    </p>
                </form>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");
    const rightColumn = document.getElementsByClassName("right-column")[0];

    function showPanel(tabIndex, color) {
        if (tabIndex === 1) {
            rightColumn.style.display = "none";
        } else {
            rightColumn.style.display = "block";
        }

        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }

    function populate(users, vehicles, isFilter) {
        if (isFilter) {
            users = document.getElementById('filterSelectUser');
            vehicles = document.getElementById('filterSelectVehicle');
        } else {
            users = document.getElementById('selectUser');
            vehicles = document.getElementById('selectVehicle');
        }
        const userId = users.options[users.selectedIndex].value;
        if (userId != 0) {
            fetch('http://localhost:8080/api/vehicles/user/' + userId).then(res => {
            // fetch('http://smartgaragefinal.eu-central-1.elasticbeanstalk.com/api/vehicles/user/' + userId).then(res => {
                return res.json();
            }).then(data => {
                let output = `<option selected value="0"> Select Vehicle </option>`;
                data.forEach(vehicle => {
                    if (isFilter) {
                        output += `<option value="${vehicle.model.id}">${vehicle.model.brand.name} ${vehicle.model.name}</option>`;
                    } else {
                        output += `<option value="${vehicle.id}">${vehicle.model.brand.name} ${vehicle.model.name}</option>`;
                    }
                })
                vehicles.innerHTML = output;
            }).catch(err => {
                console.log(err);
            })
        } else {
            vehicles.innerHTML = `<option selected value="0"> Select Vehicle </option>`;
        }
    }
</script>
</body>
</html>