<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:text="'Service #' + ${service.id}"> Service #ID</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="tab" id="set-service-price" style="border-radius: 0; visibility: visible; opacity: 1; display: block">
                <div style="padding: 15px">
                    <form th:action="@{/service/{id}(id=${service.id})}" th:object="${serviceDTO}" method="post">
                        <table class="content-table">
                            <tr>
                                <td class="l-c" th:text="${service.serviceType.name}"></td>
                                <td class="r-c"><input type="text" th:field="*{price}"></td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px">
                            <input class="solo-button" type="submit" value="Set price">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script>
    function menuToggle() {
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active')
    }
</script>
</body>
</html>