<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header" style="border-bottom: 2px solid #408ABF">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label>Brands</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Brands</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-plus"></i>
                    <label>Add a brand</label>
                </button>
            </div>
            <div class="tab" id="brands" style="border-radius: 0">
                <div class="container">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tr th:each="brand:${brands}" style="border-top: 1px solid gray">
                            <td th:text="${brand.id}">ID</td>
                            <td th:text="${brand.name}">Name</td>
                            <td>
                                <a href="#" th:href="@{/brands/{id}(id=${brand.id})}" style="text-decoration: none">
                                    <i class="fa-solid fa-pen view"></i>
                                </a>
                                <div class="modal-bg">
                                    <div class="modal">
                                        <label th:text="'Are you sure you want to delete ' + ${brand.name}+'?'"></label>
                                        <div style="text-align: center">
                                            <a th:href="@{/brands/{id}/delete(id=${brand.id})}">Delete</a>
                                            <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="modal-button">
                                    <i class="fa-solid fa-trash-can del"></i>
                                </a>
                            </td>
                        </tr>
                        <div th:if="${lastPage != 0}" class="no-results" style="border-top: 0">
                            <ul style="list-style: none">
                                <li style="display: inline">Page</li>
                                <li th:each="i:${#numbers.sequence(0, lastPage - 1)}" style="display: inline">
                                    <a href="#" th:href="@{/brands(p=${i+1},l=${pageSize})}" th:text="${i+1}"></a>
                                </li>
                            </ul>
                        </div>
                    </table>
                    <div th:if="${brands.isEmpty()}" class="no-results">
                        <label>No results</label>
                    </div>
                </div>
            </div>
            <div class="tab" id="create-brand" style="border-radius: 0">
                <div style="padding: 15px">
                    <form action="/brands/create" th:object="${brandDTO}" method="post">
                        <table class="content-table" style="border: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Name:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{name}" placeholder="Enter brand name"
                                    style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
            node.style.pointerEvents = "auto";
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].style.pointerEvents = "none";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>