<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:text="'Category #'+${category.id}">Category #ID</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Category details</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-plus"></i>
                    <label>Edit category</label>
                </button>
            </div>
            <div class="tab" id="category-details">
                <div style="padding: 15px">
                    <table class="content-table" style="border: 1px solid gray">
                        <tr style="border: none">
                            <td class="l-c">Name:</td>
                            <td class="r-c" th:text="${category.name}">category name</td>
                        </tr>
                    </table>
                    <div style="margin-top: 10px">
                        <div class="modal-bg">
                            <div class="modal">
                                <label th:text="'Are you sure you want to delete ' + ${category.name}+'?'"></label>
                                <div style="text-align: center">
                                    <a th:href="@{/categories/{id}/delete(id=${category.id})}">Delete</a>
                                    <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <a class="modal-button">
                            <input type="button" value="Delete category" class="delete-button">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab" id="edit-category">
                <div style="padding: 15px">
                    <form th:action="@{/categories/{id}/edit(id=${category.id})}" th:object="${categoryDTO}"
                          method="post">
                        <table class="content-table">
                            <tr>
                                <td class="l-c">Name:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{name}" placeholder="Enter category name">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
            node.style.pointerEvents = "auto";
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].style.pointerEvents = "none";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>