<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/password-reset.css" th:href="@{/password-reset.css}">
</head>
<body>
<div style="position: absolute;width: 330px; top: 50%;left: 50%;transform: translate(-50%,-80%)">
    <form th:action="@{/forgot_password}" method="post" style="max-width: 330px; margin: 0 auto;">
      <div style="text-align: center; margin-bottom: 30px">
        <div style="margin-bottom: 10px">
          <h2>Forgot Password</h2>
        </div>
        <div th:if="${error != null}" style="margin-bottom: 10px">
          <p class="text-danger" style="font-size: 18px">[[${error}]]</p>
        </div>
        <div th:if="${message != null}" style="margin-bottom: 10px">
          <p class="text-warning" style="font-size: 18px">[[${message}]]</p>
        </div>
      </div>
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="email" name="email" placeholder="Enter your e-mail" required autofocus/>
                    <!--          <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>-->
                </p>
                <p class="text-center">
                    <input type="submit" value="Send" class="btn btn-primary"/>
                </p>
            </div>
        </div>
    </form>
</div>
</body>
</html>