<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<!--left-column-->
<div th:fragment="left-column" class="left-column">
    <div class="home-logo">
        <a href="/"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"></a>
    </div>
    <div class="menu">
        <ul>
            <li th:if="${requester.isEmployee()}">
                <i class="fa-solid fa-users fa-2xl"></i>
                <a th:href="@{/users}" href="#">Users</a>
            </li>
            <li th:if="${requester.isEmployee()}">
                <i class="fa-solid fa-car fa-2xl"></i>
                <a th:href="@{/vehicles}" href="#">Vehicles</a>
                <a href="#" onclick="expand(false)" style="margin-left: 10px"><i
                        class="fa-solid fa-caret-down"></i></a>
            </li>
            <li th:unless="${requester.isEmployee()}">
                <i class="fa-solid fa-car fa-2xl"></i>
                <a th:href="@{/vehicles}" href="#">Vehicles</a>
            </li>
            <li th:if="${requester.isEmployee()}" id="brand-menu" style="display: none">
                <i class="fa-solid fa-caret-down" style="transform: rotate(270deg)"></i>
                <a th:href="@{/brands?p=1&l=10}" href="#">Brands</a>
            </li>
            <li th:if="${requester.isEmployee()}" id="model-menu" style="display: none">
                <i class="fa-solid fa-caret-down" style="transform: rotate(270deg)"></i>
                <a th:href="@{/models?p=1&l=20}" href="#">Models</a>
            </li>
            <li th:if="${requester.isEmployee()}">
                <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
                <a th:href="@{/services?p=1&l=10}" href="#">Services</a>
                <a href="#" onclick="expand(true)" style="margin-left: 10px"><i
                        class="fa-solid fa-caret-down"></i></a>
            </li>
            <li th:unless="${requester.isEmployee()}">
                <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
                <a th:href="@{/services?p=1&l=10}" href="#">Services</a>
            </li>
            <li th:if="${requester.isEmployee()}" id="categories-menu" style="display: none">
                <i class="fa-solid fa-caret-down" style="transform: rotate(270deg)"></i>
                <a th:href="@{/categories}" href="#">Categories</a>
            </li>
            <li>
                <i class="fa-solid fa-calendar-days fa-2xl"></i>
                <a th:href="@{/bookings}" href="#">Visits</a>
            </li>
        </ul>
    </div>
</div>
<!--profile-actions-->
<div th:fragment="profile-actions" class="profile-actions">
    <div class="profile" onclick="menuToggle()">
        <i class="fa-solid fa-bars fa-2xl"></i>
    </div>
    <div class="menu">
        <div th:if="${isAuthenticated}">
            <h3 th:text="${requester.username}">Username</h3>
            <h2 th:text="${requester.email}">Email address</h2>
        </div>
        <ul>
            <li th:unless="${isAuthenticated}">
                <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                <a th:href="@{/auth/login}" href="#">Login</a>
            </li>
            <li>
                <i class="fa-solid fa-circle-user fa-lg"></i>
                <a th:href="@{/users/{id}(id=${requester.id})}" href="#">My profile</a>
            </li>
            <li>
                <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                <a th:href="@{/auth/logout}" href="#">Logout</a>
            </li>
        </ul>
    </div>
</div>
<!--footer fragment-->
<footer th:fragment="footer"></footer>
<!--login form-->
<form th:fragment="login-form" th:action="@{/auth/login}" th:object="${login}" method="post"
      style="margin: 0 auto; max-width: 330px; padding: 15px; position: absolute; top: 50%;left: 50%;transform: translate(-50%,-80%)">
<!--    <img src="/images/padlock.png" style="width: 80px; display: block; margin: 0 auto">-->
<!--    <br>-->
    <h2 style="margin-bottom: 10px;text-align: center">Please sign in</h2><br>
    <div th:if="${#fields.hasAnyErrors()}" class="login-error"><label th:errors="*{username}">Wrong credentials</label>
    </div>
    <!-- this should be put in the div that holds the wrong credentials label: th:if="${#fields.hasAnyErrors()}" -->
    <input type="text" th:field="*{username}" class="login-input" placeholder="Username" required>
    <input type="password" th:field="*{password}" class="login-input" placeholder="Password" required>
    <input type="submit" class="login-button" value="Sign in" style="margin-bottom: 30px">
    <div class="forgot-password">
        <a th:href="@{/forgot_password}">Forgot your password?</a>
    </div>
</form>
<!--category form-->
<form th:fragment="category-form" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${serviceCategory}"
      method="post">
    <input th:field="*{name}" type="text">
    <input type="submit" value="Save">
</form>
</body>
</html>