<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css" th:href="@{/main.css}">
</head>
<body>
<div class="hero">
    <div class="video-container">
        <video autoplay loop muted playsinline class="back-video">
            <source th:src="@{/videos/production_ID_4488705.mp4}" src="/static/videos/production_ID_4488705.mp4"
                    type="video/mp4">
        </video>
    </div>
    <nav>
    </nav>
    <div class="content">
        <div class="mnogo-div">
            <h1>Smart Garage</h1>
            <a th:unless="${isAuthenticated}" href="/auth/login">Login</a>
            <a th:if="${isAuthenticated && requester.isEmployee()}" href="/bookings">Explore</a>
            <a th:if="${isAuthenticated && (!requester.isEmployee())}" href="/services?p=1&l=10">Explore</a>
        </div>
    </div>
</div>

</body>
</html>