<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<div id="page-container">
<!--    <header id="header" class="header"></header>-->
    <div id="content-wrap">
        <form th:replace="fragments::login-form">
        </form>
    </div>
<!--    <footer id="footer"></footer>-->
</div>
</body>
</html>