<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header" style="border-bottom: 2px solid #408ABF">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:text="'Model #'+${model.id}"></label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Model details</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-pen"></i>
                    <label>Edit model</label>
                </button>
            </div>
            <div class="tab" id="model-details">
                <div style="padding: 15px">
                    <table class="content-table" style="border: 1px solid gray">
                        <tr style="border: none">
                            <td class="l-c">Brand Name:</td>
                            <td class="r-c" th:text="${model.brand.name}">brand name</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Model name:</td>
                            <td class="r-c" th:text="${model.name}">model name</td>
                        </tr>
                    </table>
                    <div style="margin-top: 10px">
                        <div class="modal-bg">
                            <div class="modal">
                                <label th:text="'Are you sure you want to delete ' + ${model.name}+'?'"></label>
                                <div style="text-align: center">
                                    <a th:href="@{/models/{id}/delete(id=${model.id})}">Delete</a>
                                    <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <a class="modal-button" style="text-decoration: none">
                            <input type="button" class="delete-button" value="Delete Model">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab" id="edit-model">
                <div style="padding: 15px">
                    <form th:action="@{/models/{id}/edit(id=${model.id})}" th:object="${modelDTO}" method="post">
                        <table class="content-table" style="border: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Brand:</td>
                                <td class="r-c">
                                    <select th:field="*{brandId}" style="width: 220px">
                                        <option th:each="brand:${brands}"
                                                th:text="${brand.name}"
                                                th:value="${brand.id}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Model name:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{name}" placeholder="Enter model name"
                                           style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input type="submit" value="Save" class="solo-button">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
            node.style.pointerEvents = "auto";
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].style.pointerEvents = "none";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>