<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/password-reset.css" th:href="@{/password-reset.css}">
</head>
<body>
<div style="position: absolute;width: 330px; top: 50%;left: 50%;transform: translate(-50%,-80%)">
    <form th:action="@{/reset_password}" method="post" style="max-width: 330px; margin: 0 auto;">
        <div style="text-align: center; margin-bottom: 30px">
            <div style="margin-bottom: 10px">
                <h2>Reset Your Password</h2>
            </div>
            <div>
                <label id="indicator" style="font-size: 18px"></label>
            </div>
        </div>
        <input type="hidden" name="token" th:value="${token}"/>
        <div>
            <div>
                <input min="8" max="20" type="password" name="password" id="password"
                       placeholder="Enter your new password" required onkeyup="check()" autofocus/>
                <input min="8" max="20" type="password" name="confirmPassword" id="confirmPassword"
                       placeholder="Confirm your new password"
                       required onkeyup="check()"/>
                <input type="submit" value="Change Password" id="submit"/>
            </div>
        </div>
    </form>
</div>
<script>
    var check = function () {
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirmPassword').value;
        let indicator = document.getElementById('indicator');
        let submit = document.getElementById('submit');
        if (password == '' || (password.length < 8 || password.length > 20)) {
            submit.style.pointerEvents = 'none';
            indicator.innerHTML = 'Password length must be between 8 and 20 characters';
            indicator.style.color='lightcoral';
        } else {
            if (password == confirmPassword) {
                indicator.style.color = 'green';
                indicator.innerHTML = 'Matching passwords';
                submit.style.pointerEvents = 'auto';
            } else {
                indicator.style.color = 'lightcoral';
                indicator.innerHTML = 'Passwords don\'t match';
                submit.style.pointerEvents = 'none';
            }
        }
    }
</script>
</body>
</html>