<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:text="'Service #' + ${serviceType.id}">Services #ID</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Service Details</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-plus"></i>
                    <label>Edit Service</label>
                </button>
            </div>
            <div class="tab" id="service-details">
                <div style="padding: 15px">
                    <table class="content-table" style="border: 1px solid gray">
                        <tr style="border: none">
                            <td class="l-c">Name:</td>
                            <td class="r-c" th:text="${serviceType.name}">service name</td>
                        </tr>
                    </table>
                    <div style="margin-top: 10px">
                        <input type="button" value="Delete service" class="delete-button">
                    </div>
                </div>
            </div>
            <div class="tab" id="edit-service">
                <div style="padding: 15px">
                    <form action="#" th:action="@{/services/{id}/edit(id=${serviceType.id})}" th:object="${serviceTypeDTO}" method="post">
                        <table class="content-table" style="border: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Name:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{name}" placeholder="Enter name" style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Category:</td>
                                <td class="r-c">
                                    <select th:field="*{categoryId}" style="width: 220px">
                                        <option value="0">Select Category</option>
                                        <option th:each="category:${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>