<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label>Services</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Services</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')" th:if="${requester.isEmployee()}">
                    <i class="fa-solid fa-plus"></i>
                    <label>Add Service</label>
                </button>
            </div>
            <div class="tab" id="services">
                <div class="container">
                    <table class="content-table" style="background-color: white">
                        <thead>
                        <tr style="background-color: #408ABF; border: 1px solid gray">
                            <th>Service</th>
                            <th th:if="${isModifyingBooking || requester.isEmployee()}">Actions</th>
                        </tr>
                        </thead>
                        <tr th:each="service:${servicesTypes}" style="border: 1px solid gray">
                            <td th:text="${service.name}"></td>
                            <td th:if="${isModifyingBooking || requester.isEmployee()}" style="padding: 15px 15px">
                                <a th:if="${isModifyingBooking}" th:href="@{/bookings/add/{id}(id=${service.id})}"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-circle-plus view"></i>
                                </a>
                                <a th:href="@{/services/{id}(id=${service.id})}" th:if="${requester.isEmployee()}"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-pen view"></i>
                                </a>
                                <div th:if="${requester.isEmployee()}" class="modal-bg">
                                    <div class="modal" th:if="${requester.isEmployee()}">
                                        <label th:text="'Are you sure you want to delete ' + ${service.name}+'?'"></label>
                                        <div style="text-align: center">
                                            <a th:href="@{/services/{id}/delete(id=${service.id})}">Delete</a>
                                            <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <a th:if="${requester.isEmployee()}" class="modal-button"
                                   style="text-decoration: none">
                                    <i class="fa-solid fa-trash-can del"></i>
                                </a>
                            </td>
                        </tr>
                        <div th:if="${lastPage != 0}" class="no-results" style="border-top: 0">
                            <ul style="list-style: none">
                                <li style="display: inline">Page</li>
                                <li th:each="i:${#numbers.sequence(0, lastPage - 1)}" style="display: inline">
                                    <a href="#" th:href="@{/services(p=${i+1},l=${pageSize})}" th:text="${i+1}"></a>
                                </li>
                            </ul>
                        </div>
                    </table>
                    <div th:if="${servicesTypes.isEmpty()}" class="no-results">
                        <label>No results</label>
                    </div>
                </div>
            </div>
            <div class="tab" id="add-service" th:if="${requester.isEmployee()}">
                <div style="padding: 15px">
                    <form action="#" th:action="@{/services/create}" th:object="${serviceTypeDTO}" method="post">
                        <table class="content-table" style="border-top: 1px solid gray; border-bottom: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Name:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{name}" placeholder="Enter name" style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Category:</td>
                                <td class="r-c">
                                    <select th:field="*{categoryId}" style="width: 220px">
                                        <option value="0">Select Category</option>
                                        <option th:each="category:${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.name}">

                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>

    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>