<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label>Users</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Customers</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-user-plus fa-lg"></i>
                    <label>Register</label>
                </button>
            </div>
            <div class="tab" id="users" style="border-radius: 0">
                <div class="container">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone number</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tr th:each="user:${users}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phoneNumber}"></td>
                            <td>
                                <a href="#" th:href="@{/users/{id}(id=${user.id})}" style="text-decoration: none">
                                    <i class="fa-solid fa-pen view"></i>
                                </a>
                                <div class="modal-bg">
                                    <div class="modal">
                                        <label th:text="'Are you sure you want to delete ' + ${user.username}+'?'"></label>
                                        <div style="text-align: center">
                                            <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
                                            <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="modal-button">
                                    <i class="fa-solid fa-trash-can del"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div th:if="${users.isEmpty()}" class="no-results">
                        <label>No results</label>
                    </div>
                </div>
            </div>
            <div class="tab" id="register" style="border-radius: 0">
                <div style="padding: 15px">
                    <form action="#" th:action="@{/register}" th:object="${registerDTO}" method="post">
                        <table class="content-table" style="border-top: 1px solid gray; border-bottom: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Username</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{username}" placeholder="Enter a username" style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Email address</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{email}" placeholder="Enter an email" style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Phone number</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{phoneNumber}" placeholder="Enter a phone" style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Register">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="container">
                <form th:action="@{/users/filter}" th:object="${filterDTO}" method="post">
                    <p><label class="section-title">Filter Users</label></p>
                    <table>
                        <tr>
                            <td style="padding-right: 10px">
                                <input type="text" th:field="*{username}" placeholder="Username">
                            </td>
                            <td>
                                <input type="text" th:field="*{email}" placeholder="Email">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px">
                                <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number">
                            </td>
                            <td>
                                <input type="text" th:field="*{brand}" placeholder="Brand name">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px">
                                <input type="text" th:field="*{model}" placeholder="Model name">
                            </td>
                            <td>
                                <input type="text" th:field="*{licensePlate}" placeholder="License plate">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px">
                                <p>
                                    <label class="section-title">Visit start date</label>
                                    <input type="date" style="margin-top: 10px" th:field="*{startDate}">
                                </p>
                            </td>
                            <td>
                                <p>
                                    <label class="section-title">Visit end date</label>
                                    <input type="date" style="margin-top: 10px" th:field="*{endDate}">
                                </p>
                            </td>
                        </tr>
                    </table>
                    <p>
                        <select th:field="*{sort}">
                            <option selected value="null">Sort by</option>
                            <option th:each="option : ${sortOptions}"
                                    th:value="${option.preview}"
                                    th:text="${option.preview}">
                            </option>
                        </select>
                    </p>
                    <p><input type="submit" value="Filter"></p>
                </form>
                <form th:action="@{/users/search}" th:object="${filterDTO}" method="post">
                    <p style="margin-top: 20px"><label class="section-title">Search</label></p>
                    <p><input th:field="*{search}" type="text" placeholder="Search"></p>
                    <p><input type="submit" value="Search"></p>
                </form>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");
    const rightColumn = document.getElementsByClassName("right-column")[0];

    function showPanel(tabIndex, color) {
        if (tabIndex === 1){
            rightColumn.style.display="none";
        }else {
            rightColumn.style.display="block";
        }
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>