<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:unless="${requester.id==user.id}" th:text="'User #' + ${user.id}"> User #ID</label>
            <label th:if="${requester.id==user.id}">My Profile</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-user fa-lg"></i>
                    <label>User Details</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-user-pen fa-lg"></i>
                    <label>Edit Profile</label>
                </button>
            </div>
            <div class="tab" id="user-details" style="border-radius: 0">
                <div style="padding: 15px">
                    <table class="content-table">
                        <tr style="border: none; border-top: 1px solid gray">
                            <td class="l-c">Username:</td>
                            <td class="r-c" th:text="${user.username}">user_name</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Email:</td>
                            <td class="r-c" th:text="${user.email}">email@email.com</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Phone Number:</td>
                            <td class="r-c" th:text="${user.phoneNumber}">089vanko</td>
                        </tr>
                        <tr style="border: none; border-bottom: 1px solid gray">
                            <td class="l-c">Role:</td>
                            <td class="r-c" th:text="${user.userRole.name}">role name</td>
                        </tr>
                    </table>
                    <div style="margin-top: 10px; text-align: center">
                        <div class="modal-bg">
                            <div class="modal">
                                <label th:text="'Are you sure you want to delete ' + ${user.username}+'?'"></label>
                                <div style="text-align: center">
                                    <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
                                    <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <a class="modal-button">
                            <input class="delete-button" type="button" value="Delete account">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab" id="edit-user" style="border-radius: 0">
                <div style="padding: 15px">
                    <form action="#" th:action="@{/users/{id}/edit(id=${user.id})}" th:object="${userDTO}"
                          method="post">
                        <table class="content-table">
                            <tr style="border: none; border-top: 1px solid gray">
                                <td class="l-c">Username:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{username}">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Email:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{email}">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Phone Number:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{phoneNumber}">
                                </td>
                            </tr>
                            <tr th:if="${requester.isEmployee()}" style="border: none">
                                <td class="l-c">Role:</td>
                                <td class="r-c">
                                    <select th:field="*{roleId}" style="width: calc(100% - 10px)">
                                        <option th:each="role:${roles}"
                                                th:text="${role.name}"
                                                th:value="${role.id}">

                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr th:if="${requester.id == user.id}" style="border: none">
                                <td class="l-c">Password:</td>
                                <td class="r-c">
                                    <input type="password" th:field="*{password}">
                                </td>
                            </tr>
                            <tr th:if="${requester.id == user.id}" style="border: none; border-bottom: 1px solid gray">
                                <td class="l-c">Confirm Password:</td>
                                <td class="r-c">
                                    <input type="password" th:field="*{confirmPassword}">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
            node.style.pointerEvents = "auto";
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].style.pointerEvents = "none";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }
</script>
</body>
</html>