<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label>Vehicles</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-list"></i>
                    <label>Vehicles</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-plus"></i>
                    <label>Add vehicle</label>
                </button>
            </div>
            <div class="tab" id="vehicles" style="border-radius: 0">
                <div class="container">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th th:if="${requester.isEmployee()}">Owner</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Year of creation</th>
                            <th>License Plate</th>
                            <th>VIN</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tr th:each="vehicle:${allvehicles}">
                            <td th:text="${vehicle.id}"></td>
                            <td th:if="${requester.isEmployee()}" th:text="${vehicle.owner.username}"></td>
                            <td th:text="${vehicle.model.brand.name}"></td>
                            <td th:text="${vehicle.model.name}"></td>
                            <td th:text="${#temporals.format(vehicle.yearOfCreation,'yyyy')}"></td>
                            <td th:text="${vehicle.licensePlate}"></td>
                            <td th:text="${vehicle.vin}"></td>
                            <td>
                                <a href="#" th:href="@{/vehicles/{id}(id=${vehicle.id})}" style="text-decoration: none">
                                    <i class="fa-solid fa-pen view"></i>
                                </a>
                                <div class="modal-bg">
                                    <div class="modal">
                                        <label th:text="'Are you sure you want to delete ' + ${vehicle.brand.name}+' '+${vehicle.model.name}+'?'"></label>
                                        <div style="text-align: center">
                                            <a th:href="@{/vehicles/{id}/delete(id=${vehicle.id})}">Delete</a>
                                            <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <a class="modal-button" style="text-decoration: none">
                                    <i class="fa-solid fa-trash-can del"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div th:if="${allvehicles.isEmpty()}" class="no-results">
                        <label>No results</label>
                    </div>
                </div>
            </div>
            <div class="tab" id="add-vehicle" style="border-radius: 0">
                <div class="container">
                    <form action="#" th:action="@{/vehicles/create}" th:object="${vehicleDTO}" method="post">
                        <table class="content-table" style="border-top: 1px solid gray">
                            <tr th:if="${requester.isEmployee()}" style="border: none">
                                <td class="l-c">Owner:</td>
                                <td class="r-c">
                                    <select th:field="*{userId}" style="width: 220px">
                                        <option selected value="0">Select User</option>
                                        <option th:each="user:${owners}" th:value="${user.id}"
                                                th:text="${user.username}" style="width: 220px">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Brand:</td>
                                <td class="r-c">
                                    <select th:field="*{brandId}" name="selectBrand" id="selectBrand"
                                            onchange="populate(this.id,'models')" style="width: 220px">
                                        <option selected value="0">Select Brand</option>
                                        <option th:each="brand:${allbrands}" th:value="${brand.id}"
                                                th:text="${brand.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Model:</td>
                                <td class="r-c">
                                    <select name="selectModel" id="selectModel" th:field="*{modelId}"
                                            style="width: 220px">
                                        <option value="0">Select Model</option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Year of Creation:</td>
                                <td class="r-c">
                                    <input type="date" th:field="*{yearOfCreation}" placeholder="Enter Year"
                                           required style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">License Plate:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{licence_plate}" placeholder="Enter licence plate"
                                           style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border:none;border-bottom: 1px solid gray">
                                <td class="l-c">VIN:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{vin}" placeholder="Enter vin"
                                           style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Add vehicle">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:if="${#fields.hasErrors('userId')}">Please select a user</li>
                                <li th:errors="*{brandId}"></li>
                                <li th:errors="*{modelId}"></li>
                                <li th:errors="*{yearOfCreation}"></li>
                                <li th:errors="*{licence_plate}"></li>
                                <li th:errors="*{vin}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="container">
                <form th:action="@{/vehicles/filter}" th:object="${filterDTO}" method="post"
                      th:if="${requester.isEmployee()}">
                    <p><label class="section-title">Filter Vehicles</label></p>
                    <p>
                        <select th:field="*{ownerId}">
                            <option selected value="0">Select Owner</option>
                            <option th:each="owner : ${owners}"
                                    th:value="${owner.id}"
                                    th:text="${owner.email}">
                            </option>
                        </select>
                    </p>
                    <p>
                        <select th:field="*{sort}">
                            <option selected value="null">Sort by</option>
                            <option th:each="option : ${sortOptions}"
                                    th:value="${option.preview}"
                                    th:text="${option.preview}">
                            </option>
                        </select>
                    </p>
                    <p><input type="submit" value="Filter"></p>
                </form>
                <form th:action="@{/vehicles/search}" th:object="${filterDTO}" method="post">
                    <p style="margin-top: 20px"><label class="section-title">Search</label></p>
                    <p><input th:field="*{search}" type="text" placeholder="Search"></p>
                    <p><input type="submit" value="Search"></p>
                </form>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    function menuToggle() {
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active')
    }

    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");
    const rightColumn = document.getElementsByClassName("right-column")[0];

    function showPanel(tabIndex, color) {
        if (tabIndex === 1) {
            rightColumn.style.display = "none";
        } else {
            rightColumn.style.display = "block";
        }

        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }

    function populate(brands, models) {
        brands = document.getElementById('selectBrand');
        models = document.getElementById('selectModel');
        const brandId = brands.options[brands.selectedIndex].value;
        if (brandId != 0) {
            fetch('http://localhost:8080/api/models/brand/' + brandId).then(res => {
            // fetch('http://smartgaragefinal.eu-central-1.elasticbeanstalk.com/api/models/brand/' + brandId).then(res => {
                return res.json();
            }).then(data => {
                let output = `<option selected value="0"> Select Model </option>`;
                data.forEach(model => {
                    output += `<option value="${model.id}">${model.name}</option>`;
                })
                models.innerHTML = output;
            }).catch(err => {
                console.log(err);
            })
        } else {
            models.innerHTML = `<option selected value="0"> Select Vehicle </option>`;
        }
    }
</script>
</body>
</html>