<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/test.css" th:href="@{/test.css}">
    <script src="https://kit.fontawesome.com/a077236a81.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="page-container">
    <header id="header" class="header">
        <div class="label">
            <i class="fa-solid fa-caret-down fa-2xl"></i>
            <label th:text="'Vehicle #' + ${vehicle.id}">Vehicle #ID</label>
        </div>
        <div th:replace="fragments::profile-actions"></div>
    </header>
    <div id="content-wrap" style="justify-content: flex-start">
        <!--        left column-->
        <div th:replace="fragments::left-column"></div>
        <!--        main window-->
        <div class="main-window" style="width: max-content; height: max-content">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'rgba(255, 255, 255, 0.6)')">
                    <i class="fa-solid fa-car-side"></i>
                    <label>Vehicle Details</label>
                </button>
                <button onclick="showPanel(1,'rgba(255, 255, 255, 0.6)'); populate()">
                    <i class="fa-solid fa-pen"></i>
                    <label>Edit vehicle</label>
                </button>
            </div>
            <div class="tab" id="vehicle-details" style="border-radius: 0">
                <div style="padding: 15px">
                    <table class="content-table" style="border-top: 1px solid gray; border-bottom: 1px solid gray">
                        <tr th:if="${requester.isEmployee()}" style="border: none">
                            <td class="l-c">Owner:</td>
                            <td class="r-c" th:text="${vehicle.owner.username}">Username</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Brand:</td>
                            <td class="r-c" th:text="${vehicle.model.brand.name}">brand name</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Model:</td>
                            <td class="r-c" th:text="${vehicle.model.name}">model name</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">Year of Creation:</td>
                            <td class="r-c" th:text="${#temporals.format(vehicle.yearOfCreation,'yyyy')}">4 Apr 2020</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">License Plate:</td>
                            <td class="r-c" th:text="${vehicle.licensePlate}">TX111BH</td>
                        </tr>
                        <tr style="border: none">
                            <td class="l-c">VIN:</td>
                            <td class="r-c" th:text="${vehicle.vin}">vin number</td>
                        </tr>
                    </table>
                    <div style="margin-top: 10px; text-align: center">
                        <div class="modal-bg">
                            <div class="modal">
                                <label th:text="'Are you sure you want to delete ' + ${vehicle.brand.name}+' '+${vehicle.model.name}+'?'"></label>
                                <div style="text-align: center">
                                    <a th:href="@{/vehicles/{id}/delete(id=${vehicle.id})}">Delete</a>
                                    <a class="modal-close" style="background-color: #408ABF">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <a class="modal-button">
                            <input type="button" class="delete-button" value="Delete vehicle">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab" id="edit-vehicle" style="border-radius: 0">
                <div style="padding: 15px">
                    <form action="#" th:action="@{/vehicles/{id}/edit(id=${vehicle.id})}" th:object="${vehicleDTO}"
                          method="post">
                        <table class="content-table" style="border-top: 1px solid gray; border-bottom: 1px solid gray">
                            <tr style="border: none">
                                <td class="l-c">Brand:</td>
                                <td class="r-c">
                                    <select th:field="*{brand_id}" name="selectBrand" id="selectBrand"
                                            onchange="populate()" style="width: 220px">
                                        <option selected value="0">Select Brand</option>
                                        <option th:each="brand:${allbrands}" th:value="${brand.id}"
                                                th:text="${brand.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Model:</td>
                                <td class="r-c">
                                    <select name="selectModel" id="selectModel" th:field="*{model_id}"
                                    style="width: 220px">
                                        <option value="0">Select Model</option>
                                    </select>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">Year of Creation:</td>
                                <td class="r-c">
                                    <input type="date" th:field="*{year_Of_Creation}" placeholder="Enter Year" required
                                    style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">License Plate:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{licence_plate}" placeholder="Enter licence plate"
                                           style="width: 200px">
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td class="l-c">VIN:</td>
                                <td class="r-c">
                                    <input type="text" th:field="*{vin}" placeholder="Enter vin" style="width: 200px">
                                </td>
                            </tr>
                        </table>
                        <div style="margin-top: 10px; text-align: center">
                            <input class="solo-button" type="submit" value="Save">
                        </div>
                        <div th:if="${#fields.hasAnyErrors()}" class="error-field">
                            <ul>
                                <li th:each="err:${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
<script src="/js/menus.js"></script>
<script>
    const tabButtons = document.querySelectorAll(".main-window .buttonContainer button");
    const tabPanels = document.querySelectorAll(".main-window .tab");

    function showPanel(tabIndex, color) {
        tabButtons.forEach(function (node) {
            node.style.backgroundColor = "lightgray";
            node.style.color = "";
            node.style.cursor = "pointer";
            node.classList.remove('active');
            node.style.pointerEvents = "auto";
        });
        tabButtons[tabIndex].style.backgroundColor = color;
        tabButtons[tabIndex].style.color = "black";
        tabButtons[tabIndex].style.cursor = "unset";
        tabButtons[tabIndex].style.pointerEvents = "none";
        tabButtons[tabIndex].classList.add('active');
        tabPanels.forEach(function (node) {
            node.style.display = "none";
        });
        tabPanels[tabIndex].style.display = "block";
    }

    const errorFields = document.getElementsByClassName("error-field");
    if (errorFields.length != 0) {
        showPanel(1, 'rgba(255, 255, 255, 0.6)')
    } else {
        showPanel(0, 'rgba(255, 255, 255, 0.6)');
    }

    function populate() {
        const brands = document.getElementById('selectBrand');
        const models = document.getElementById('selectModel');
        const brandId = brands.options[brands.selectedIndex].value;
        if (brandId != 0) {
            fetch('http://localhost:8080/api/models/brand/' + brandId).then(res => {
            // fetch('http://smartgaragefinal.eu-central-1.elasticbeanstalk.com/api/models/brand/' + brandId).then(res => {
                return res.json();
            }).then(data => {
                let output = `<option selected value="0"> Select Model </option>`;
                data.forEach(model => {
                    output += `<option value="${model.id}">${model.name}</option>`;
                })
                models.innerHTML = output;
            }).catch(err => {
                console.log(err);
            })
        } else {
            models.innerHTML = `<option selected value="0"> Select Vehicle </option>`;
        }
    }
</script>
</body>
</html>